body {
    background-color: tan;
    color: darkolivegreen; 
    background-image: url('../images/zoo_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

form {
    width: 300px;
}