body {
    background-color: tan;
    color: darkgreen; 
    background-image: url('../images/zoo_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 15px; 
}

form {
    margin: 0 auto;
    align-items: center;
    background-image: url('../images/tiger_stripe.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    border: 1px solid darkgreen; 
    max-width: 900px; 
    max-height: 900px;
    padding: 10px;
    font-weight: bold;
    color: darkolivegreen;
    font-size: 22px;
}

.content {
    background-image: url('../images/bamboo2.png');
    font-weight: bold;
    color: bisque;
    font-size: 1.5em;
}

h1 a { 
    color: darkolivegreen;
}

a {
    color: lime;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

a:hover {
    color: white;
}

button {
    background-color: #47E307;
    color: #ffffff;
    border-radius: 15px 0 15px;
}

button:hover {
    background-color: darkcyan;
}
