{% load static %}
<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>{{user.username}}'s Zoo</title>
	<meta name="description" content="enter SEO page description here.">
	<link rel="icon" type="image/png" href="filepath/to/image/here">
	<!--Above is code for favicon to displays in tab-->
	<link rel="stylesheet" href="{% static 'css/zoo.css' %}">
	<script src ="enterScrpit.js"></script>
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<header>
		<h1><a href="{% url 'zoo_entrance:zoo_home' %}">Your Zoo Homepage</a><h1>
		<h2>Welcome to your zoo, {{user.username}}!</h2>
		<div>testing- delete this line when we get login synced with ZooUser {{user.id}}</div>
		<p>Populate your zoo with your favorite animals!</p>
    </header>

	
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>




</body>


</html>