<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>{{user.username}}'s Zoo</title>
	<meta name="description" content="enter SEO page description here.">
	<link rel="icon" type="image/png" href="filepath/to/image/here">
	<!--Above is code for favicon to displays in tab-->
	<link rel="stylesheet" href="{FIXME}">
	<script src ="enterScrpit.js"></script>
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<header>
	<h1>Your Zoo<h1>
    </header>
        <h1>Welcome to your zoo {{user.username}}!</h1>
		<p>Populate your zoo with your favorite animals!</p>
</body>





</html>