<!DOCTYPE html>
<html lang= "en">
<!--
	Proudly engineered by Group 5, Jermy Baltazar, Gabriel Abney and Zachary Roberts (2 FEB 2026)
	"Welcome to the Jungle!" 
-->
<!--This is a boilerplate index.html used to build websites.-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>Enter Title of site here, it displays in tab</title>
	<meta name="description" content="enter SEO page description here.">
	<link rel="icon" type="image/png" href="filepath/to/image/here">
	<!--Above is code for favicon to displays in tab-->
	<link rel="stylesheet" href="filepath/to/css/here">
	<script src ="enterScrpit.js"></script>
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<header>
	<h1>Zoo Entrance<h1>
		<nav>
			<a href="index.html">Zoo Entrance</a>
	
	
	

		</nav>
		<!--<nav> can be nested in a list, but otherwise this is the structure-->
	</header>
	<main>
		<h2>usually a section name here</h2>
		<section>
			<p>use to group like things in a site</p>
		</section>
		<!-- It is useful to nest <section> inside <div> for 
		style diversity on a site.-->
	</main>
	<!-- <main> not required, but helpful for some layouts.
	if used, use it for main content of page.-->
	<h3>Lists and tables</h3>
	
		<ul>
			<li>list item</li>
		</ul>
		<!--Unorded list structure-->
		
		<ol>
			<li>list item</li>
		</ol>
		<!--Ordered list structure.-->
		
		<dl>
			<dt>key</dt>
			<dd>Value</dd>
			<dd>more values as needed</dd>
		</dl>
		<!--Description List structure.They have similar structure
		to dictionaries in Python, treat them similarly.-->
		
		<table>
			<tr>
				<th>heading</th>
				<th>heading2</th>
			</tr>
			<tr>
				<td>data for heading</td>
				<td>data for heading2</td>
			</tr>
		</table>
		<!--Table structure-->
	<footer>
	<p>made for, made by, year, maybe link to an email.</p>
	</footer>
</body>
</html>