{% load static %} <!-- imports static folder from Django framework to index.html-->
<!DOCTYPE html>
<html lang= "en">
<!--
	Proudly engineered by Group 5, Jermey Baltazar, Gabriel Abney and Zachary Roberts (2 FEB 2026)
	"Welcome to the Jungle!" 
-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>The Zoo</title>
	<meta name="description" content="enter SEO page description here.">
	<link rel="icon" type="image/png" href="filepath/to/image/here">
	<!--Above is code for favicon to displays in tab-->
	<link rel="stylesheet" href="{% static 'css/zoo.css' %}">
	<script src ="enterScrpit.js"></script>
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<audio autoplay loop>
		<source src="{% static 'music/mixkit-savana-186.mp3' %}" type="audio/mpeg">
	</audio>
	<header>
	<h1>Zoo Entrance<h1>
	</header>
	<main>
			<h2>Welcome to The Zoo!</h2>
			<p>Enter username to login or create account!</p>

	<!-- link django login form to index.html-->
	<form method = 'Post'>
	 	{% csrf_token %}
	 	{{form.as_p}}
	 	<button type="submit">Login/Create</button>
	</form>

	
   <!-- comment out old form to test if new form renders. 
	<form action="/your-name/" method="post">
    	<label for="user_name">Enter your name: </label>
    	<input id="user_name" type="text" name="user_name" value="{{ current_name }}">
    	<input type="submit" value="OK">
	</form>
	-->
	
		</section>
		<!-- It is useful to nest <section> inside <div> for 
		style diversity on a site.-->
	</main>
	
</body>
</html>