{% load static %} <!-- imports static folder from Django framework to index.html-->
<!DOCTYPE html>
<html lang= "en">
<!--
	Proudly engineered by Group 5, Jermey Baltazar, Gabriel Abney and Zachary Roberts (2 FEB 2026)
	"Welcome to the Jungle!" 
-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>The Zoo</title>
	<meta name="description" content="enter SEO page description here.">
	<link rel="icon" type="image/png" href="filepath/to/image/here">
	<!--Above is code for favicon to displays in tab-->
	<link rel="stylesheet" href="{% static 'css/zoo.css' %}">
	<script src ="enterScrpit.js"></script>
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<header>
	<h1>Zoo Entrance<h1>
		<nav>
			<a href="index.html">Zoo Entrance</a>
		</nav>
		<!--<nav> can be nested in a list, but otherwise this is the structure-->
	</header>
	<main>
		<h2>I envision this space to be where the user logs into their zoo, a sort of landing page, the zoo_entrance so to speak.</h2>
		<section>
			<p>use to group like things in a site</p>

	<form action="/your-name/" method="post">
    	<label for="user_name">Enter your name: </label>
    	<input id="user_name" type="text" name="user_name" value="{{ current_name }}">
    	<input type="submit" value="OK">
	</form>
		</section>
		<!-- It is useful to nest <section> inside <div> for 
		style diversity on a site.-->
	</main>
	
	<footer>
	<p>made for, made by, year, maybe link to an email.</p>
	</footer>
</body>
</html>